# Lab: Simpson's Paradox

Hi Data Scientists,

Welcome to the fourth lab!  In this lab, you will look for confounding variables and find Simpson's paradox in several datasets using Python. Along the way, you'll also get more practice writing conditionals for pandas dataframes. As you go through the lab:

- Make sure to run every cell with Python code and observe the output
- Complete all puzzles and submit this lab before Monday evening at 11:59 PM

## Table of Contents <a id='toc'></a>

**Note: the table of content seems to be broken after VS code Update 1.64.1. Use the Outline view (View > Command Palette > Type "outline") instead for navigation.**

- [Group](#p0)
- [Puzzle 1.1](#p11)
- [Puzzle 1.2](#p12)
- [Puzzle 1.3](#p13)
- [Puzzle 2.1](#p21)
- [Puzzle 2.2](#p22)
- [Puzzle 3.1](#p31)
- [Puzzle 3.2](#p32)
- [Puzzle 4.1](#p41)
- [Puzzle 4.2](#p42)
- [Puzzle 4.3](#p43)
- [Puzzle 4.4](#p44)

### Group <a id='p0'></a> ([back to toc](#toc))

Edit the next Python cell to add information about who you're working with in your lab section:

In [4]:
# First, meet your CAs and TA if you haven't already!
# ...first name is enough, we'll know who they are! :)
ta_name = "Heman"
ca1_name = "Justin"
ca2_name = "Jessica"
ca3_name = ""

# Also, make sure to meet your team for this lab! Find out their name, what major they're in,
# and learn something new about them that you never knew before!
partner1_name = "Azeem"
partner1_netid = "ANewaz2"
partner1_major = "Information Systems"

partner2_name = ""
partner2_netid = ""
partner2_major = ""

partner3_name = ""
partner3_netid = ""
partner3_major = ""

## Getting Help
Remember, there are a lot of ways to get help if you find yourself stuck:

1. In your lab section, you can ask your TA or CAs.
2. Post your question in the course Discord.
3. Office Hours:
  - In-person office hours **every Monday, Wednesday, Thursday, and Friday** from 4:00 PM - 6:00 PM in Siebel Center for Design (SCD) Rm. 0060
  - Zoom office hours **every Tuesday** from 5:00 PM - 6:30 PM (see the course website for links).

  ## Puzzle 1: The Setup

Follow the usual steps for setting up labs. You will need to:

1. Make sure the dataset(s) you need are in your **working directory**.  
*We will need `DiscoveryPizza.csv` and `PythonPizza.csv` for the first part of the lab. We will need `hello.csv` for the second part of the lab!*
2. Import any libraries you will need and give them an abbreviation so they are easy to refer to.   
*We will just need `pandas`, typically abbreviated as `pd`.*
3. Read your datasets into dataframes. The dataframes should have useful names so you can easily identify which one is which.   
*We will use `df_python`, `df_discovery`, and `df_hello`.*

### Puzzle 1.1: Setup For The Lab <a id='p11'></a> ([back to toc](#toc))
Follow the steps above to get set up for today's lab.

In [2]:
# Import the pandas library as pd
import pandas as pd

# Read our two pizza datasets into dataframes
df_python = pd.read_csv("PythonPizza.csv")
df_discovery = pd.read_csv("DiscoveryPizza.csv")

In [3]:
## == TEST CASES for Puzzle 1.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df_discovery) == 40), "This is not the Discovery Pizza dataset you're looking for"
assert(len(df_python) == 46), "This is not the Python Pizza dataset you're looking for"
## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### The Scenario

You and your friends are visiting a city and want to find the best pizza place to eat nearby. Neither of you know much about the food scene, but your friend (and maybe you!) are particular about making the best of your time and trying the best food possible. What to do but turn to the answer to all life's questions: *online reviews*.

You discover that there are only two pizza places in town and you have to decide which one is better! The two pizza places are called "Discovery Pizza" and "Python Pizza" (LOL!). The dataset `DiscoveryPizza.csv` contains data for all people who reviewed Discovery Pizza, specifically showing whether or not they recommend it and their gender. The dataset `PythonPizza.csv` contains the same information for Python Pizza.

### Cleaning the Data

Sometimes, the data you get for analysis can be a bit messy. For example, run the code below to see how gender has been listed in the `DiscoveryPizza.csv` dataset. From `pandas`, we can first use `concat` to temporarily combine our two datasets together, then  use the `unique()` function to see all the different ways people wrote their gender.

***Quick Tip***: Remember, if you want to figure out something to do with pandas, the pandas cheat sheet can help!

In [5]:
print(pd.unique(
    pd.concat([df_discovery["Gender"],
               df_python["Gender"]])))

['Male' 'Man' 'male' 'Men' 'Female' 'Woman' 'female' 'woman' 'girl' 'man']

As we can see, the reviewers all identified as either male or female, but wrote their gender in different ways. We will need to change all the different ways of identifying as male or female into two gender categories: `Male` ane `Female`. 

### The List Type

So far in Python, we have encountered **string**, **number**, and **DataFrame** types. In order to list our multiple ways of identifying as male or female, we can use a fourth data type: **Lists**. These are native to Python, so we do not need to import a library to use them.  

### Puzzle 1.2: Lists of words for male and female <a id='p12'></a> ([back to toc](#toc))

The list of words used for male has been put into a Python **List** below. Try the same with the words for female using the list printed in the previous code cell.

In [11]:
male = ["Male", "Man", "male", "Men", "man"]
female = ['Female', 'Woman', 'female', 'woman', 'girl']

In [12]:
## == TEST CASES for Puzzle 1.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.

assert(set(female) == {'Female', 'Woman', 'female', 'woman', 'girl'}), "The list does not match the list of all words used for female"
## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Conditionals with Multiple Acceptable Values

Now that we have our lists of words, we can use them in conditionals for our dataframes where multiple values are acceptable. We can use the `isin()` function and our list `male` to select all the Discovery Pizza data for males regardless of how the gender is written.

In [13]:
df_discovery[df_discovery["Gender"].isin(male)]

   Gender Recommend
0    Male       Yes
1    Male       Yes
2    Male       Yes
3    Male       Yes
4    Male       Yes
5    Male        No
6     Man        No
7    Male        No
8    Male        No
9    male        No
10   Male        No
11   Male        No
12    Men        No
13   Male        No
14   Male        No

### Puzzle 1.3  <a id='p13'></a> ([back to toc](#toc))

Now you try it. Show all the Python Pizza recommendation data from females.

In [14]:
df_discovery[df_discovery["Gender"].isin(female)]

    Gender Recommend
15  Female       Yes
16  Female       Yes
17  Female       Yes
18  Female       Yes
19   Woman       Yes
20  Female       Yes
21  female       Yes
22  Female       Yes
23  Female       Yes
24  Female       Yes
25  female       Yes
26  Female       Yes
27  Female       Yes
28   woman       Yes
29  Female       Yes
30  Female       Yes
31  Female       Yes
32  Female       Yes
33  Female       Yes
34  Female       Yes
35  Female        No
36  Female        No
37    girl        No
38  Female        No
39  Female        No

## Puzzle 2: Initial Analysis

Now that we've made sense of our slightly messy data, we can use it to figure out where to go for dinner. "That's easy," your friend says, "We'll just see which restaurant has a greater percent of recommendations."

### Puzzle 2.1: Comparing Overall Percentages <a id='p21'></a> ([back to toc](#toc))

Try out your friend's suggestion. Calculate the percent of people who recommend Discovery Pizza and the percent of people who recommend Python Pizza. Your answer should be a decimal between 0 and 1. Remember, if you multiply the numbers by 100, you would have the rating recommendation percentages.

**Hint:** There are many ways to do this. One way is to use `len(df)` to give you the length of a dataframe. You can also find the length of a dataframe with certain conditionals.

In [16]:
discovery_recpercent = sum(df_discovery["Recommend"] == "Yes") / len(df_discovery)
python_recpercent = sum(df_python["Recommend"] == "Yes")/len(df_python)
print("discovery_recpercent =", discovery_recpercent,
      "\npython_recpercent =", python_recpercent)

discovery_recpercent = 0.625
python_recpercent = 0.5869565217391305

In [17]:
## == TEST CASES for Puzzle 2.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
import math
assert(math.isclose(discovery_recpercent, 0.625)), "The overall percentage of people who recommended Discovery Pizza does not appear to have been correctly calculated"
assert(math.isclose(python_recpercent, 27/46)), "The overall percentage of people who recommended Python Pizza does not appear to have been correctly calculated"
## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 2.2: ❓Individual Reflection❓ <a id='p22'></a> ([back to toc](#toc))

Given what you've learned about experimental design, what are some reasons (specific to this dataset) you may not trust this result when making your decision? If you would trust it, explain why.

I would not trust it because it is an observational study and could lead to simpson's paradox

## Puzzle 3:  Observational Studies and Stratification

Since this is an observational study, we have no guarantee that the two groups we are comparing are similar. But since we have information on the reviewers' genders, we can at least control for gender differences by comparing across people of the same gender.

### Puzzle 3.1: Calculating separate percentages <a id='p31'></a> ([back to toc](#toc))

Use conditionals to calculate the following percentages. There are multiple ways to do this, however, you can choose the way that makes the most sense to you. Your answer should be a decimal between 0 and 1. Remember, if you multiply the numbers by 100, you would have the rating recommendation percentages. Make sure you include all people in the dataset in your calculations.

**Hint:** Think about all of the different ways to write gender that we looked at previously.

In [31]:
# Percentage of male who recommend Discovery Pizza
discovery_mpercent = sum((df_discovery["Recommend"]== "Yes")&(df_discovery["Gender"].isin(male))) / sum(df_discovery["Gender"].isin(male))
discovery_mpercent

0.3333333333333333

In [32]:
# Percentage of male who recommend Python Pizza
python_mpercent = sum((df_python["Recommend"]== "Yes")&(df_python["Gender"].isin(male))) / sum(df_python["Gender"].isin(male))
python_mpercent

0.5

In [34]:
# Percentage of female who recommend Discovery Pizza
discovery_fpercent = sum((df_discovery["Recommend"]== "Yes")&(df_discovery["Gender"].isin(female))) / sum(df_discovery["Gender"].isin(female))
discovery_fpercent

0.8

In [35]:
# Percentage of female who recommend Python Pizza
python_fpercent = sum((df_python["Recommend"]== "Yes")&(df_python["Gender"].isin(female))) / sum(df_python["Gender"].isin(female))
python_fpercent

0.9

In [36]:
print("discovery_mpercent =", discovery_mpercent,
      "\npython_mpercent =", python_mpercent,
      "\ndiscovery_fpercent =", discovery_fpercent,
      "\npython_fpercent =", python_fpercent)

discovery_mpercent = 0.3333333333333333
python_mpercent = 0.5
discovery_fpercent = 0.8
python_fpercent = 0.9

In [37]:
## == TEST CASES for Puzzle 3.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, and RE-RUN your code and then this cell.
import math
assert(math.isclose(discovery_mpercent, 1/3)), "The percentage of men who recommended Discovery Pizza does not appear to have been correctly calculated"
assert(math.isclose(python_mpercent, 1/2)), "The percentage of men who recommended Python Pizza does not appear to have been correctly calculated"
assert(math.isclose(discovery_fpercent, 0.8)), "The percentage of women who recommended Discovery Pizza does not appear to have been correctly calculated"
assert(math.isclose(python_fpercent, 0.9)), "The percentage of women who recommended Python Pizza does not appear to have correctly calculated"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Observe the Results

Run the following cell to format all of your answers as a DataFrame:

In [38]:
pd.DataFrame( [
    {'Female': discovery_fpercent, 'Male': discovery_mpercent, 'Overall': discovery_recpercent },
    {'Female': python_fpercent, 'Male': python_mpercent, 'Overall': python_recpercent },
], index=['Discovery Pizza', 'Python Pizza'] )

                 Female      Male   Overall
Discovery Pizza     0.8  0.333333  0.625000
Python Pizza        0.9  0.500000  0.586957

You should see the pattern reverse when you look at the overall recommendation percentage vs. the percentage stratified by gender. This is called **Simpson's Paradox**: a pattern within a population can appear, disappear, or reverse when you look at subpopulations.

### Puzzle 3.2: ❓Individual Reflection❓ <a id='p32'></a> ([back to toc](#toc))

Should you enjoy your dinner at Discovery Pizza OR Python Pizza? In other words, which comparison of the reviews should you trust and Why?

I will enjoy my dinner at python pizza because the individual percentages are higher for python pizza. I should not trust the overall comparison because of simpson's paradox

## Puzzle 4: Shoe Size vs Shoes Owned

Let's look at some characteristics of another dataset. You recently had the opportunity to complete a "Hello Survey."  We compiled the results into a dataset and we are going to explore the following two questions from that survey: 

- What is your shoe size? which is stored in a variable called "Shoe Size."
- How many pairs of shoes do you have? which is stored in a variable called "Shoe Number."

### Puzzle 4.1: Load the Dataset <a id='p41'></a> ([back to toc](#toc))

Read the hello dataset into a DataFrame. It is in the lab_simpsons_paradox folder and is called `hello.csv`.

In [44]:
df_hello = pd.read_csv("hello.csv")
df_hello

,Name,Major,Year,Phone,Computer,Straw,Shoe Size,Pets,Hot Dog,Streaming,...,Season,Statistics Courses,Programming Courses,Study Hours,Siblings,Sleep,Shoes,Texts,Personality,Zodiac Sign
0,Mathilde,Community Health & Chemistry,Senior,iPhone,Windows-based computer,1,9.0,0,Yes,Netflix,...,Fall,3,0,3,1,8,10,7,Introvert,Sagittarius
1,Luke,Stats & CS,Sophomore,Android,Windows-based computer,1,9.5,0,No,"Twitch, Youtube",...,Spring,4,2,4,1,6.5,4,15,Introvert,Gemini
2,Johnny,ETMAS,Junior,iPhone,Mac OS X-based computer,1,10.0,2,No,"Netflix, Youtube",...,Fall,1,0,2,1,7,10,4,Introvert,Leo
3,miller,stat/data science,Freshman,iPhone,Mac OS X-based computer,1,10.0,2,No,"Netflix, HBO Max",...,Summer,0,2,2,2,6,6,12,Extrovert,Sagittarius
4,Tri,CS+Math,Junior,Android,Windows-based computer,2,10.0,0,Yes,"Twitch, Youtube",...,Fall,3,6,3,2,6,1,0,Introvert,Libra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,Carson,Information Sciences,Freshman,iPhone,Windows-based computer,1,7.5,0,Yes,"Twitch, Youtube",...,Fall,STAT 200,CS 124 and AP CS A,3,0,6,4,0,Introvert,Aries
188,Sri Nithya,Information Sciences,Freshman,iPhone,Windows-based computer,1,5.0,0,No,"Netflix, HBO Max, Amazon Prime, Youtube",...,Fall,0,0,5,1,7,20,45,Extrovert,Virgo
189,brandon,information sciences,Senior,iPhone,Mac OS X-based computer,1,12.0,0,No,"HBO Max, Youtube",...,Fall,2,2,0,1,8,12,0,Introvert,Virgo
190,Yujie,MCB,Freshman,iPhone,Windows-based computer,2,9.0,0,No,Youtube,...,Fall,2,0,6,4,7,5,6,Introvert,Scorpio
191,Shiuli,Psychology,Sophomore,Android,Windows-based computer,2,9.5,7,No,"Netflix, Amazon Prime, Youtube",...,Fall,1,1,2,0,6,7,12,Introvert,Virgo

In [45]:
## == TEST CASES for Puzzle 4.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df_hello) == 192), "This is not the dataset you're looking for"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 4.2: Observation Subsets <a id='p42'></a> ([back to toc](#toc))

In this situation, let's define shoes that are strictly greater than size 9 to be "large" and shoes that less than or equal to size 9 are defined to be "small".

Create two DataFrames that contain subsets of our data: one DataFrame that includes everyone who has a "large" shoe size and one DataFrame that includes everyone who has a "small" shoe size:

In [53]:
df_large = df_hello[df_hello["Shoe Size"] > 9.0]
df_small = df_hello[df_hello["Shoe Size"] <= 9.0]

In [54]:
## == TEST CASES for Puzzle 4.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df_large) == 97), "This is not the dataframe subset you're looking for."
assert(len(df_small) == 95), "This is not the dataframe subset you're looking for."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 4.3: Average Number of Pairs of Shoes By Group <a id='p43'></a> ([back to toc](#toc))

Find the average number of pairs of shoes of each group (large shoes and small shoes):

In [56]:
large_avg_shoes = df_large["Shoes"].mean()
small_avg_shoes = df_small["Shoes"].mean()

print("large_avg_shoes =", large_avg_shoes,
      "\nsmall_avg_shoes =", small_avg_shoes)

large_avg_shoes = 7.938144329896907
small_avg_shoes = 10.021052631578947

In [57]:
## == TEST CASES for Puzzle 4.3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any errors, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(large_avg_shoes == 770 / 97),  "The average number of shoe pairs in among large shoe wearers does not appear correct. Make sure you are taking the mean of the correct variable."
assert(small_avg_shoes == 952 / 95), "The average number of shoe pairs in among small shoe wearers does not appear correct. Make sure you are taking the mean of the correct variable."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")

🎉 All tests passed! 🎉

### Puzzle 4.4: ❓Individual Reflection❓ <a id='p44'></a> ([back to toc](#toc))

What is the relationship between shoe size and shoe number?  Can you think of a possible confounding variable in the observed relationship (or lack thereof) between shoe size and shoe number?

In stat 107 people who have a shoe size of less than or equal 9 tend to have on average 2 more pairs of shoes. A possible confounding variable is Gender because women usually have shoe sizes less than 9 and tend to have more shoes

## Submit Your Work!

You're almost done -- congratulations!

You need to do two more things:

1.  Save your work. To do this, go to File -> Save All

2.  After you have saved, exit this notebook and follow the webpage instructions to commit this lab to your Git repository!